.about-section {
  background: linear-gradient(to right, #8b0ce0c4, #7456a1de, #beb3cfc1);
  padding: 40px;
  margin-top: 50px;
}

/* Add this CSS to animate text from the left */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInFromLeft 1s ease-out forwards;
}

.about-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.about-content ul {
  font-size: 20px;
  color: white;
  line-height: 2;
}
ul li::before {
  content: ">>"; /* Right check mark */
  color: white; /* Set the color to black */
  font-size: 18px; /* Adjust the size */
  margin-right: 10px; /* Space between symbol and text */
  margin-left: 10px;
}
