.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  padding: 0 20px;
  background-color: #f7fafc; /* Background color (optional) */
}

.skills-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2d3748; /* Text color */
  margin-bottom: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items in the first row */
  gap: 20px; /* Space between the cards */
  width: 100%; /* Full width */
  max-width: 1200px; /* Optional max width */
}

.skill-card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.5s ease;
}

.skill-card:hover {
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.skill-icon {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.skill-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d3748;
}

.skill-description {
  color: #4a5568;
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 items per row on small screens */
  }
}

@media (max-width: 480px) {
  .skills-grid {
    grid-template-columns: 1fr; /* 1 item per row on extra small screens */
  }
}
