/* .proj {
  width: 500px;
  border-radius: 10px;
}
.proj-button {
  border: none;
  height: 100vh;
  width: 100vw;
  background-color: yellow;
}
.image {
  width: 300px;
  gap: 10px;
  border-radius: 20px;
  height: -150px;
  padding-top: 30px;
} */
